.display {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    top: 0;
    left: 0;
}

.bg-cover {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0.5;
}

.target {
    position: absolute;
    text-align: center;
    z-index: 0;
}

.start {
    position: absolute;
    width: 400px;
    text-align: center;
    color: #FFF;
    font-size: x-large;
    z-index: 1000;
}

.result {
    position: absolute;
    width: 300px;
    height: 250px;
    text-align: center;
    font-size: 48px;
    background: #FFF;
    color: #3B9;
    z-index: 1000;
}
.clickcount {
    position: absolute;
    text-align: center;
    font-size: 96px;
    width: 300px;
    height: 100px;
    vertical-align: center;
    background: #FFF;
    color: #000;
    z-index: 1000;
}
.restart {
    position: absolute;
    text-align: center;
    font-size: 24px;
    width: 300px;
    bottom: 0px;
    vertical-align: baseline;
    background: #FA0;
    color: #000;
    z-index: 1050;
}

.finish {
    position: absolute;
    color: #F44;
    width: 400px;
    height: 150px;
    font-size: 96px;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    display: "None";
}

.endcount {
    position: relative;
    color: #F44;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    display: "None";
}

.startcount {
    position: absolute;
    color: #F44;
    width: 150px;
    height: 150px;
    font-size: 96px;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    display: "None";
}
